/************************* COMMON ************************/

body {
  background-color: #add8e6;
  text-align: center;
}
.container {
  display: inline-block;
  padding-top:10%;
  padding-bottom:10%;
}
/* history, result table */
table {
  margin-left: auto;
  margin-right: auto;
}

/************************* LOGIN ************************/

/************************* MAIN ************************/

/************************* CHOICE ************************/

.btn_hospital {
  height:15vh;
  width:40vw;
  margin: 1vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 3%;
  background-color: #fff0b3;
  border-color: #0088cc;
  box-shadow: 0px 10px 3px -8px #3ca1c3;
}

/************************* PYO ************************/

/************************* ADDQ ************************/

/************************* WRITEDR ************************/

#writeDr_title {
  padding-top:1vh;
  padding-bottom:1vh;
  }

/************************* HISTORY ************************/

/************************* RESULT ************************/
