/************************* COMMON ************************/

body {
  background-color: #add8e6;
  text-align: center;
}
.container {
  display: inline-block;
  padding-top:10%;
  padding-bottom:10%;
}
table {
  margin-left: auto;
  margin-right: auto;
}

/************************* BONE ************************/

/************************* DENTIST ************************/

/************************* EAR ************************/

/************************* EYE ************************/

/************************* MENTAL ************************/

/************************* NEURO ************************/

/************************* PEE ************************/

/************************* PLASTIC ************************/

/************************* SKIN ************************/
