/************************* COMMON ************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #add8e6;
  font-family: sans-serif;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
}
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}
table {
  border-collapse: separate;
  margin-left: 0;
  margin-right: 0;
  border-spacing: 10px 0;
}
.question{
  padding: 0;
  margin: 5px 0;
}

textarea {
  resize: none;
}
.smallTitle{
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

/************************* BONE ************************/

/************************* DENTIST ************************/
.dentState {
  border-collapse: collapse;
  margin-left: 0;
  margin-right: 0;
}

/************************* EAR ************************/
#divOtherActionAnswers {
  margin: 0;
  padding: 0;
}

/************************* EYE ************************/

/************************* MENTAL ************************/

/************************* NEURO ************************/

/************************* PEE ************************/

/************************* PLASTIC ************************/

/************************* SKIN ************************/
